.gameOver {
  width: 100%;
  height: calc(100vh - 9rem);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.gaveOver__text {
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary-color);
}
.gaveOver__points {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary-color);
}

.reset__image__container {
  background-color: rgb(232, 193, 20);
  width: 4.5rem;
  height: 4.5rem;
  border: 5px solid whitesmoke;
  border-radius: 1rem;
  margin-top: 1.5rem;
}
