.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  width: 35%;
  height: 45%;
  background-color: #E0FEFE;
  border-radius: 1rem;
  box-shadow: 0 0 0 10px var(--card-color);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-wrap: wrap;
}

.modal__header {
  color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}

.modal__body {
  color: var(--primary-color);
  text-align: center;
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.modal__footer {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.play__image__container {
  background-color: var(--card-color);
  width: 4.5rem;
  height: 4.5rem;
  border: 5px solid #1e1e1e;
  border-radius: 1rem;
}
.reset__image__container {
  background-color: var(--card-color);
  width: 4.5rem;
  height: 4.5rem;
  border: 5px solid #1e1e1e;
  border-radius: 1rem;
}


@media screen and (max-width : 992) {
  .modal__container {
    width: 60%;
    height: 20%;
  }
}

@media screen and (max-width: 600px) {
  .modal__container {
    width: 60%;
    height: 20%;
  }
}

@media screen and (max-width: 500px) {
  .modal__container {
    width: 90%;
    height: max-content;
    padding: 4rem 0;
  }
}
