*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: 0;
  outline: 0 solid transparent;
}

:root {
  --container-width-lg: 65%;
  --container-width-md: 76%;
  --container-width-sm: 100%;
  --container-width-ssm: 100%;
  --primary-color: #441306;
  --card-color : #00C2CB;
}

html {
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  background-color: #E0FEFE;
  color: whitesmoke;
}

.container {
  max-width: var(--container-width-lg);
  height: calc(100vh - 2rem);
  margin: 1rem auto;
}

.center {
  width: 100%;
  height: calc(100vh - 9rem);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.canvas__counter {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: hsl(121, 80%, 46%);
}

.timer {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1rem solid red;
  animation: clock 97s linear;
  transform-origin: top;
}

@keyframes clock {
  0% {
    border: 0px solid hsl(121, 80%, 46%);
  }
  50% {
    border: 0.5rem solid yellowgreen;
  }
  100% {
    border: 1rem solid red;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: var(--container-width-md);
  }
  html {
    font-size: 57%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    max-width: var(--container-width-sm);
    height: 100vh;
    margin: 0;
  }
  html {
    font-size: 52%;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 47%;
  }
  .container {
    max-width: var(--container-width-ssm);
    height: 100vh;
    margin: 0;
  }

  .canvas__counter {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: hsl(121, 80%, 46%);
  }
}
